<div class="main-board">
    <app-refinement-list (sendRefinementList)="updateRefinementList($event)"></app-refinement-list>
    <div class="header">
        <div class="search-box">
            <mat-icon>search</mat-icon>
            <mat-form-field>
                <mat-label>Module Code or Title</mat-label>
                <input type="text" class="mat-h3" matInput [(ngModel)]="searchInput" placeholder="CS2100"
                    (input)="search(); paginator.firstPage()">
                <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear"
                    (click)="searchInput=''; search()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

    </div>
    <mat-divider></mat-divider>


    <div class="search-result">
        <div class="flex-container">
            <div class="number-of-modules-found">
                {{filteredModuleList.length}} Modules Found
            </div>

            <div class="sort-options">
                <mat-form-field>
                    <mat-label>Sort by:</mat-label>
                    <mat-select [(ngModel)]="sortOption" name="sortOption" (selectionChange)="sortFilteredModuleList()">
                        <mat-option value="moduleCode">
                            module code
                        </mat-option>
                        <mat-option value="title">
                            module title
                        </mat-option>
                        <mat-option value="moduleCredit">
                            module credit
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-icon-button (click)="reverseFilteredModuleList()">
                    <mat-icon matTooltip="reverse">refresh</mat-icon>
                </button>
            </div>
        </div>
        <mat-card class="module-list">
            <div *ngFor="let module of moduleListShown; let key=index" class="flex-container">
                <button mat-button class="module-btn" (click)="goModule(module.moduleCode)">
                    <mat-icon>search</mat-icon>
                    <span>{{module.moduleCode}} - {{module.title}}</span>
                    <span class="mat-caption">
                        {{module.faculty}} - {{module.department}} - {{module.moduleCredit}}
                    </span>
                </button>
                <div class="review-action flex-container">
                    <span class="number-of-reviews">{{module.numOfReviews}}</span>
                    <button mat-icon-button class="add-btn" (click)="goPostReviews(module.moduleCode)"
                        matTooltip="add reviews">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
            </div>
            <div *ngIf="moduleListShown.length<15" class="bottom">
                Already at the bottom!
            </div>
        </mat-card>
        <mat-paginator [length]="filteredModuleList.length" pageSize="15" showFirstLastButtons="true"
            hidePageSize="true" (page)="updateModuleListShown($event)" #paginator></mat-paginator>
    </div>
</div>