<div id="review-and-rating">
    <div class="mat-h1">Review and Rating:</div>
    <div class="rating">
        <div class="general">
            <div class="mat-h3">general: {{general}}</div>
            <mat-slider max=10 min=1 step=1 thumbLabel=true name="general" [(ngModel)]="general">
            </mat-slider>
            <mat-icon *ngIf="general < 3">sentiment_very_dissatisfied</mat-icon>
            <mat-icon *ngIf="general == 3||general==4 ">sentiment_dissatisfied</mat-icon>
            <mat-icon *ngIf="general == 5||general==6">sentiment_satisfied</mat-icon>
            <mat-icon *ngIf="general == 7||general==8">sentiment_satisfied_alt</mat-icon>
            <mat-icon *ngIf="general > 8">sentiment_very_satisfied</mat-icon>
        </div>

        <div class="difficulty">
            <div class="mat-h3">difficulty: {{difficulty}}</div>
            <mat-slider max=10 min=1 step=1 thumbLabel=true name="difficulty" [(ngModel)]="difficulty">
            </mat-slider>
            <mat-icon *ngIf="difficulty>8">sentiment_very_dissatisfied</mat-icon>
            <mat-icon *ngIf="difficulty==7||difficulty==8">sentiment_dissatisfied</mat-icon>
            <mat-icon *ngIf="difficulty==5||difficulty==6">sentiment_satisfied</mat-icon>
            <mat-icon *ngIf="difficulty==3||difficulty==4">sentiment_satisfied_alt</mat-icon>
            <mat-icon *ngIf="difficulty < 3">sentiment_very_satisfied</mat-icon>
        </div>

        <div class="workload">
            <div class="mat-h3">workload: {{workload}}</div>
            <mat-slider max=10 min=1 step=1 thumbLabel=true name="workload" [(ngModel)]="workload">
            </mat-slider>
            <mat-icon *ngIf="workload>8">sentiment_very_dissatisfied</mat-icon>
            <mat-icon *ngIf="workload==7||workload==8">sentiment_dissatisfied</mat-icon>
            <mat-icon *ngIf="workload==5||workload==6">sentiment_satisfied</mat-icon>
            <mat-icon *ngIf="workload==3||workload==4">sentiment_satisfied_alt</mat-icon>
            <mat-icon *ngIf="workload < 3">sentiment_very_satisfied</mat-icon>
        </div>

        <div class="recommend">
            <div class="mat-h3">recommend: {{recommend}}</div>
            <mat-slider max=10 min=1 step=1 thumbLabel=true name="recommend" [(ngModel)]="recommend">
            </mat-slider>
            <mat-icon *ngIf="recommend < 3">sentiment_very_dissatisfied</mat-icon>
            <mat-icon *ngIf="recommend == 3||recommend==4 ">sentiment_dissatisfied</mat-icon>
            <mat-icon *ngIf="recommend == 5||recommend==6">sentiment_satisfied</mat-icon>
            <mat-icon *ngIf="recommend == 7||recommend==8">sentiment_satisfied_alt</mat-icon>
            <mat-icon *ngIf="recommend > 8">sentiment_very_satisfied</mat-icon>
        </div>
    </div>
    <div>
        <mat-form-field class="review" appearance="fill">
            <mat-label>Review</mat-label>
            <textarea matInput rows="8" [(ngModel)]="review" placeholder="Any other things you want to share about this module"></textarea>
        </mat-form-field>
    </div>
</div>