.nusmods {
    width: 13%;
    text-align: left;
}

.btns {
    width: 30%;
    display: flex;
}

.btn > button {
    margin: 0 auto;
}

.my-modules-and-admin-login {
    width: 57%;
    text-align: right;
    margin-right: 20px;
}

.my-modules-and-admin-login > button {
    margin: 0 10px;
}

tool-bar {
    display: flex;
    flex-wrap: wrap;
}