<div>
    <div class="mat-h1">Extra Info:</div>
    <div class="mat-hint">(All your information will remain anonymous)</div>
    <mat-form-field appearance="fill">
        <mat-label>Grade expected</mat-label>
        <mat-select [(ngModel)]="extraInfo.gradeExpected">
            <mat-option value="A+">A+</mat-option>
            <mat-option value="A">A</mat-option>
            <mat-option value="A-">A-</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="B-">B-</mat-option>
            <mat-option value="C+">C+</mat-option>
            <mat-option value="C">C</mat-option>
            <mat-option value="D+">D+</mat-option>
            <mat-option value="D">D</mat-option>
            <mat-option value="F">F</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Grade obtained</mat-label>
        <mat-select [(ngModel)]="extraInfo.gradeObtained">
            <mat-option value="A+">A+</mat-option>
            <mat-option value="A">A</mat-option>
            <mat-option value="A-">A-</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="B-">B-</mat-option>
            <mat-option value="C+">C+</mat-option>
            <mat-option value="C">C</mat-option>
            <mat-option value="D+">D+</mat-option>
            <mat-option value="D">D</mat-option>
            <mat-option value="F">F</mat-option>
            <mat-option value="Dropped">Dropped</mat-option>
        </mat-select>
    </mat-form-field>
</div>