* {
    margin: 0;
    padding: 0;
  }
  
  .conditions {
    width: 100%;
    margin-left: 1rem;
    overflow: hidden;
  }
  
  .filter {
    width: 120px;
    text-align: left;
    border-right: solid 1px lightgray;
  }
  
  button {
    margin: 5px;
  }
  
  .table-row {
    display: flex;
    width: 100%;
    margin: 10px auto;
  }

  .faculties {
    margin: 10px auto;
    border-bottom: 1px lightgray solid;
    padding-bottom: 10px;
  }

  .initial {
    height: 100%;
  }

  button:hover {
    background-color: coral;
  }

  button {
    padding: 0 5px;
  }

  mat-card {
    width: 95%;
    margin: 0 auto;
  }