<mat-card>
    <div *ngFor="let filter of filterList; let key=index" class="table-row">
      <div class="filter">
        <span class="mat-h4">{{filter}}</span> : 
      </div>
      <div class="conditions">
        <span *ngIf="!more['more' + filter]">
          <button *ngFor="let condition of conditionList[filter]" mat-raised-button>
            {{condition}}
          </button>
        </span>
        <span *ngIf="filter=='Department' && more['moreDepartment']">
          <button *ngFor="let department of departmentList" mat-raised-button>
            {{department}}
          </button>
        </span>
        <span *ngIf="filter=='Faculty' && more['moreFaculty']">
          <div *ngFor="let initial of initialList" class="faculties">
            <div class="initial">{{initial}}:</div>
            <button *ngFor="let faculty of facultyList[initial]" mat-raised-button>
              {{faculty}}
            </button>
          </div>
        </span>
          <button mat-button color="primary" (click)="changeMore($event, filter)" *ngIf="filter=='Faculty'|| filter=='Department'" class="more-btn">more</button>
        </div>
    </div>
  </mat-card>