<form id="module-info">
    <div class="mat-h1">Module Info:</div>

    <mat-form-field class="moduleCode">
        <mat-label>Module Code</mat-label>
        <input type="text" name="moduleCode" autocomplete="off" placeholder="CS2100" [(ngModel)]="moduleCode" matInput required>
    </mat-form-field>

    <mat-form-field class="prof">
        <mat-label>Prof</mat-label>
        <input type="text" name="prof" placeholder="Tan Eng Chye" [(ngModel)]="prof" required matInput>
    </mat-form-field>

    <mat-form-field class="acadYear">
        <mat-label>AcadYear</mat-label>
        <mat-select [(ngModel)]="acadYear" required name="acadYear">
            <mat-option value="2019-2020">19 - 20</mat-option>
            <mat-option value="2018-2019">18 - 19</mat-option>
            <mat-option value="2017-2018">17 - 18</mat-option>
        </mat-select>
    </mat-form-field>
</form>