main > mat-card {
    width: 25%;
    height: 250px;
    margin: 30px;
}

main {
    display: flex;
}

.no-modules-added-yet > mat-card-content {
    margin-top: 60px;
    text-align: center;
}

.no-modules-added-yet > mat-card-actions {
    margin-top: 90px;
    text-align: right;
}

mat-card-content > mat-icon {
    margin: 10px;
}

.average-ratings-container {
    width: 80%;
    display: flex;
    margin: 10px auto;
}

.average-rating {
    width: 50%;
}

mat-card-actions {
    text-align: right;
}