.no-reviews-yet {
    text-align: center;
}

.no-reviews-icon {
    margin: 10px;
}

.subheader > div {
    display: inline-block;
    width: 50%;
}

.add-reviews-btn {
    text-align: right;
}

.review {
    margin: 10px;
    padding-top: 10px;
}

.flex-container {
    display: flex;
}

.ratings > div {
    width: 25%;
    text-align: center;
}

mat-card-actions {
    display: flex;
}

.btns {
    width: 30%;
    text-align: right;
}

.btns > button {
    margin: 10px 10px 0;
}

.ratings {
    width: 70%;
    margin-top: 10px;
}

.header-image {
    background-size: cover;
}
  
.review-container {
    margin: 10px auto;
}

.blue-color {
    color: #4050b5;
}

.share-box {
    width: 700px;
    position: absolute;
    left: 40%;
    z-index: 1;
    text-align: left;
}

.copy-btn {
    position: absolute;
    right: 1rem;
}

.user-name {
    width: 80%;
}

.delete-btn {
    width: 20%;
    text-align: right;
}

mat-card-title {
    width: 160%;
}

pre {

    white-space: pre-wrap; /*css-3*/
    
    white-space: -moz-pre-wrap; /*Mozilla,since1999*/
    
    white-space: -pre-wrap; /*Opera4-6*/
    
    white-space: -o-pre-wrap; /*Opera7*/
    
    word-wrap: break-word; /*InternetExplorer5.5+*/
    
    }