main {
    width: 80%;
    margin: 3rem auto;
    text-align: center;
}

mat-card {
    margin: 1rem auto;
}

.left {
    width: 65%;
    border-right: 1px solid lightgrey;
    text-align: center;
    padding: 1rem 0;
    padding-right: 1rem;
}

#search-by {
    text-align: left;
    margin: 1rem;
}

#title {
    text-align: center;
}

.left > mat-form-field {
    width: 50%;
    margin: 10px;
}

.right > mat-form-field {
    width: 80%;
    margin: 10px;
}
button {
    margin-top: 1rem;
    width: 40%;
}

.flex {
    display: flex;
}

.search-box {
    margin: 1rem auto;
}

